# App Configuration
APP_ENV=production
NODE_API_URL=http://localhost:5000

# AWS / S3 Configuration
AWS_REGION=ap-south-1
AWS_ACCESS_KEY=your-aws-access-key-here
AWS_SECRET_KEY=your-aws-secret-key-here
S3_BUCKET=your-s3-bucket-name-here

# GROQ Configuration
GROQ_API_KEY=your-groq-api-key-here

# Pinecone Configuration
PINECONE_API_KEY=your-pinecone-api-key-here
PINECONE_ENV=us-east-1
PINECONE_INDEX=your-pinecone-index-name-here

# Hugging Face (Optional: to prevent rate limits on serverless embedding requests)
HF_TOKEN=your-hugging-face-token-here
