fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
boto3
pinecone
openai
langchain-text-splitters
pdfplumber
pymupdf  
python-docx
httpx
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu
